@import '../../node_modules/@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700&display=swap');

:root{
    --colorPrimary: #B128C3;
    --colorSecundary: #1a1a18;

}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/fonts/Montserrat-VariableFont_wght.woff') format('woff'),
    url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}
body{
    margin: 0;
    font-family: 'Abhaya Libre', serif;
}

h1{
    font-size: 1.3em;
    font-weight: 500;
}

a{
    color: black;
    text-decoration: none;
    font-weight: 600;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #F3F3F4 inset;  /*Para cambiar el fondo en chrome cuando tienes autocompletado*/
}
